* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

#renderer {
  width: 400px;
  height: 400px;

  border: 1px solid green;
}

#camera {
  width: 100%;
  image-rendering: pixelated;
  /* border: 1px solid purple; */
  background-color: white;
}

#debug-stats {
  width: 400px;
  margin: 0 auto;
  font-family: monospace;
  text-align: left;
}